<section class="users">
	<section class="users-list group">
  <ul>

    <% users.each(function(user) { %>
      <li>

      	<div class="user-box">
		  		<div class="user-avatar">
        		<a href="/#/users/<%= user.escape('id') %>">
          		<img src="<%= user.escape("image") %>">
            </a>
		  		</div>

				<% if (Truffle.currentUser.followedUsers().findWhere({follower_id: Truffle.currentUser.id,
					followed_id: parseInt(user.escape('id'))})) { %>
					<div class="follow remove" data-id="<%= user.escape('id') %>">Unfollow</div>
				<% } else { %>
        	<div class="follow" data-id="<%= user.escape('id') %>" %>Follow</div>
				<% } %>

		    	<div class="user-name">
		    		<h2><%= user.escape('name') %></h1>
		    		<h3>@<%= user.escape('username') %></h2>
		    	</div>
        </div>

	    </li>
	  <% }) %>
	</ul>
	</section>
</section>