<h2 class="form">Edit your account</h2>

<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<li><%= error %></li>
	<% end %>
<% end %>

<form action="<%=user_url(@user)%>" method="post" enctype="multipart/form-data" class="wrapper">
	<input type="hidden" name="_method" value="patch">
  <%= auth_token %>

	<div class="input">
  <label for="name">full name</label>
    <input type="text" name="user[name]" value="<%= @user.name %>">

  <label for="email">email</label>
    <input type="text" name="user[email]" value="<%= @user.email %>">

  <label for="password">new password</label>
    <input type="password" name="user[password]" value="<%= @user.password %>">
  
	</div>

	<div class="avatar">
  <%= image_tag @user.avatar.url(:normal) %>
		<h3>Current</h3>
	</div>
	
	<div class="input">
	<label for="image">image</label></div>
	<input type="file" id="image" name="user[avatar]" class="upload">


  <br>
  <button class="sign">Save</button>

</form>

<div class="divider"></div>

<%= link_to "Delete", user_url, method: :delete %>

