<h2 class="form">Sign up and start discovering the</h2>
<h2 class="form">products you'll like.</h2>

<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<li><%= error %></li>
	<% end %>
	<br>
<% end %>


<form action="<%=users_url%>" method="post" enctype="multipart/form-data" class="wrapper sign-in">
  <%= auth_token %>

	<div class="input">
	  <label for="name">first and last name</label>
	  <input type="text" id="name" name="user[name]" value="<%= @user.name %>">
	</div>

	<div class="input">
	  <label for="username">username</label>
	  <input type="text" id="username" name="user[username]" 
			value="<%= @user.username %>">
	</div>

	<div class="input">
	  <label for="email">email</label>
	  <input type="text" id="email" name="user[email]" value="<%= @user.email %>">
	</div>

	<div class="input">
		<label for="password">password</label>
	  <input type="password" id="password" name="user[password]">
	</div>

	<div class="input">
	<label for="image">image</label></div>
	<input type="file" id="image" name="user[avatar]" class="upload">


  <br>
  <button class="sign">Sign Up</button>

</form>
