
<%= image_tag @user.avatar.url(:normal) %>

<br>
<%= @user.name %>
<br>
@<%= @user.username %>
<br>

<!--Follow/Edit -->
<% if signed_in? %> 
	<% if current_user.id == @user.id %>
		<a href="<%= edit_user_url(@user) %>">Edit</a>
	<% else %>
	  <%= render partial: "follows/form", locals: {user: @user} %>
	<% end %>
<% end %>

<br><br>
Likes(<%= @user.likes.length %>)

Collections

Following(<%= @user.followed_users.length %>)

Followers(<%= @user.followers.length %>)

<br>
<!--Would like to render different partials -->
<%= @partial %>

<% @user.liked_products.each do |product| %>
  <%= link_to image_tag(product.image.url(:medium)), product_url(product)%>
  <br>
  <% product.user_likes.each do |liker| %>
    <%= link_to image_tag(liker.avatar.url(:thumb)), user_url(liker)%>
  <% end %>
	<br>
<% end %>

<h3>Following</h3>
<% @user.followed_users.each do |followed| %>
	<%= link_to image_tag(followed.avatar.url(:thumb)), user_url(followed)%>
	<br>
	<%= followed.name %>
	<br>
	@<%= followed.username %>
	<br>
	[Placeholder for an unfollow button]
	<br>
<% end %>

<h3>Followers</h3>
<% @user.followers.each do |follower| %>
	<%= link_to image_tag(follower.avatar.url(:thumb)), user_url(follower)%>
	<br>
	<%= follower.name %>
	<br>
	@<%= follower.username %>
	<br>
<% end %>

