
<%= image_tag @user.avatar.url(:normal) %>

<br>
<%= @user.name %>
<br>
@<%= @user.username %>
<br>

<% if current_user.id == @user.id %>
	<a href="<%= edit_user_url(@user) %>">Edit</a>
<% else %>
  Follow
<% end %>

<br><br>
Likes(<%= @user.likes.length %>)

Collections

Following

Followers

<br>
<%= @partial %>

<% @user.liked_products.each do |product| %>
  <%= link_to image_tag(product.image.url(:medium)), product_url(product)%>
  <br>
  <% product.user_likes.each do |liker| %>
    <%= link_to image_tag(liker.avatar.url(:thumb)), user_url(liker)%>
  <% end %>
<% end %>

