<div class="user-sandwich">
<div class="user-header">
	<div class="user-container">
		<div class="user-avatar">
			<%= image_tag @user.avatar.url(:normal) %>
		</div>

		<!--Follow/Edit -->
		<% if signed_in? %>
			<% if current_user.id == @user.id %>
				<a href="<%= edit_user_url(@user) %>">Edit</a>
			<% else %>
			  <%= render partial: "follows/form", locals: {user: @user} %>
			<% end %>
		<% end %>

		<div class="user-name">
			<h1><%= @user.name %></h1>
			<p>@<%= @user.username %><p>
		</div>

	</div>
</div>
</div>

<nav class="user-nav">
  <p>Likes(<%= @user.likes.length %>)</p>
  <p>Collections</p>
  <p>Following(<%= @user.followed_users.length %>)</p>
  <p>Followers(<%= @user.followers.length %>)</p>
</nav>

<br>

<!-- Show liked products/followers/following -->

<section class="products">
  <section class="products-list group">
  <%= render partial: "products/product", collection: @user.liked_products %>
  </section>
</section>


<h3>Following</h3>
<% @user.followed_users.each do |followed| %>
	<%= link_to image_tag(followed.avatar.url(:thumb)), user_url(followed)%>
	<br>
	<%= followed.name %>
	<br>
	@<%= followed.username %>
	<br>
	[Placeholder for an unfollow button]
	<br>
<% end %>

<h3>Followers</h3>
<% @user.followers.each do |follower| %>
	<%= link_to image_tag(follower.avatar.url(:thumb)), user_url(follower)%>
	<br>
	<%= follower.name %>
	<br>
	@<%= follower.username %>
	<br>
<% end %>

