<section class="products">

<h1>Products</h1>

  <section class="products-list group">
    <ul>
      <% products.each(function(product) { %>
        <li>

        	<div class="product-box">
            <div class="product-price">
              <a href="<%= product.escape("url") %>">
                $<%= Math.round(product.escape("price")) %>
              </a>
            </div>

            <div class="product-image" data-id="<%= product.id %>">
              <img src="<%= product.escape("imageSmall") %>">
            </div>

          	<div class="like-box">
              <% _(product.get('userLikes')).each(function(user) { %>
                <a href="/users/<%= user.id %>">
                  <img src="<%= user.image %>">
                </a>
              <% }) %>
          	</div>

          </div>
        </li>
      <% }) %>
    </ul>
  </section>

</section>