<span class="modal-close hide-modal">&times;</span>

<div class="icon-holder">
	<span class="collection">+</span>
  <span class="like">♥</span>
</div>

  <section class="modal-image">
    <img src="<%= product.escape("imageLarge") %>" class="image">
	</section>

	<section class="modal-info">
		<h1 class="product-show"><%= product.escape('name') %></h1>

		<a href="<%= product.escape("url") %>" class="price">
			$<%= Math.round(product.escape("price")) %> on Amazon
		</a>

		<div class="likes">
	    <% _(product.get('userLikes').slice(0,18)).each(function(user) { %>
	      <a href="/#/users/<%= user.id %>">
	        <img src="<%= user.image %>">
	      </a>
	    <% }) %>
		</div>

		Found by:
		<a href="/#/users/<%= product.escape('finder_user_id') %>">
			@<%= product.attributes.finder.username %>
		</a>

    <% if (product.note != null) { %>
    <div class="note">

        <p><%= product.note %></p>

    </div>
    <% } %>

	</section>

  <ul class="comments">
    <% _(product.attributes.comments).each(function(comment) { %>
      <li class="comment-avatar">
        <a href="/#/users/<%= comment.id %>">
          <img src="<%= comment.image %>">
        </a>
        <div class="comment-body">
          <h2><%= comment.text %> <h2>
          <h3><%= comment.username %></h3>
        </div>



      </li>
    <% }) %>
  </ul>


