<h2 class="product-show"><%= product.escape("name") %></h2>

  <img src="<%= product.get("imageLarge") %>">

  <a href="<%= product.escape("url") %>">
    $<%= Math.round(product.escape("price")) %>
  </a>

  Likes:
  <img src="<%= product.attributes.finder.image %>">

  Found by:
  <a href='#/user/<%= product.attributes.finder.id %>'>@<%= product.attributes.finder.username %>
