<!-- Options for Explore Page -->
<div class="nav-divide">
	<nav class="content">
	<%= render "shared/shop_options" %>
	</nav>
</div>

<% @categories.each do |category| %>
  <a href="<%= category_url(category) %>"><h2><%= category.name %></h2></a>

  <% category.products.each do |product| %>
    <section class="product">
      <a href="<%= product_url(product) %>">
        <%= image_tag(product.image.url(:small)) %>
      </a>

      <br>
    	Name: <strong><%= product.name %></strong>
    	<br>
      price: <a href="<%= product.url %>">$<%= product.price.round %></a>

    </section>

  <% end %>
<% end %>