<section class="products">

<div class="container">
<h1><%= category.escape('name') %><h2 class="toggle">▼</h2></h1>
	<ul class="sub-menu">
		<% Truffle.categories.each(function(category) { %>
			<li>
				<a href="#/categories/<%= category.escape('id') %>"><%= category.escape('name') %></a>
			</li>
		<% }) %>
	</ul>

  <section class="products-list group">
    <ul>
      <% _(category.attributes.products).each(function(product) { %>
        <li>

        	<div class="product-box no-like">
            <div class="product-price">
              <a href="<%= product.url %>">
                $<%= Math.round(product.price) %>
              </a>
            </div>

            <div class="product-image" data-id="<%= product.id %>">
              <a href="#/products/<%= product.id %>">
                <div class="product-image bg" data-id="<%= product.id %>"></div>
              </a>
              <img src="<%= product.imageSmall %>"
              data-id="<%= product.id %>">
            </div>

          </div>
        </li>
      <% }) %>
    </ul>
  </section>
</div>

</section>