<h2>New Product!</h2>

<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<li><%= error %></li>
	<% end %>
<% end %>

<form action="<%= products_url %>" method="post" enctype="multipart/form-data">
  <%= auth_token %>

  <label>
  name
    <input type="text" name="product[name]" value="<%= @product.name %>">
  </label>
  <br>

  <label>
  url
    <input type="text" name="product[url]" value="<%= @product.url %>">
  </label>
  <br>

  <label>
  price
    <input type="text" name="product[price]" value="<%= @product.price %>">
  </label>
  <br>

  <label>
    brand
    <select name="product[brand_id]" value="<%= @product.brand_id %>">
      <option value="blank" selected> </option>
      <% @brands.each do |brand| %>
        <option value="<%= brand.id %>"
					<%= "selected" if @product.brand_id == brand.id %>>
					<%= brand.name %>
				</option>
      <% end %>
    </select>
  </label>
  <br>

  <label>
    category
    <select name="product[category_id]" value="<%= @product.category_id %>">
      <option value="blank"> </option>
      <% @categories.each do |category| %>
        <option value="<%= category.id %>"
					<%= "selected" if @product.category_id == category.id %>>
				<%= category.name %>
				</option>
      <% end %>
    </select>
  </label>
  <br>

  <label>
    finder
    <select name="product[finder_user_id]">
      <option value="blank" selected> </option>
      <% @users.each do |user| %>
        <option value="<%= user.id %>"
					<%= "selected" if @product.finder_user_id == user.id %>>
					<%= user.username %>
				</option>
      <% end %>
    </select>
  </label>
  <br>
	
  <div class="input">
    <label for="textarea-comment-text">Editor Note</label>
    <br>
    <textarea id="textarea-comment-text" name="product[note]"></textarea>
  </div>

  <label>Image
    <input type="file" name="product[image]">
  </label>

  <button>Create Product</button>

</form>