<h2 class="product-show"><%= @product.name %></h2>

<% if signed_in? && is_editor?%>
<br>
	<div class="editor">
	<a href="<%= edit_product_url(@product)%>">EDIT</a>
	<%= link_to "DELETE", product_url, method: :delete %>
	</div>
<% end %>

<br>
<%= image_tag @product.image.url(:large) %>

<div class="like">
	<% if signed_in? %>
	  <%= render partial: "likes/form", locals: {product: @product} %>
	<% end %>
</div>

<h3><a href="<%= @product.url %>">$<%= @product.price.round %></a></h3>

<h3>Likes:</h4>
<% @product.user_likes.each do |liker| %>
  <%= link_to image_tag(liker.avatar.url(:thumb)), user_url(liker)%>
<% end %>

<br>
Total Likes: <%= @product.likes.count %>
<br>
Found by
<strong>
<a href="<%= user_url(@product.finder) %>">@<%= @product.finder.username %></a>
</strong>
<% if @product.category %>
  <h3>Popular <%= @product.category.name %> products</h3>
<% end %>

<h3><%= @product.comments.count %> comments:</h3>
<section class="comments">
  <%= render partial: "comments/comment", collection: @product.comments %>
  <br>
  <% if signed_in?%>
    <%= render partial: "comments/form", locals: {product: @product} %>
  <% end %>
</section>