<div class="head">
	<div class="wrapper">
		<a href="/#">
			<img src="<%= asset_path("truffle-sign.png") %>">
		</a>
	</div>
</div>

<div class="nav-background">
</div>

<nav class="main-nav">
	<div class="wrapper">
		<section class="links">
			<a href="/#/explore">Explore</a>
  		<a href="/#/categories">Shop</a>
		  <% if signed_in? && is_editor?%>
		  	<a href="<%= new_product_url%>">Add Product</a>
		  <% end %>
		</section>

		<section class="user-links">
			<% if signed_in? %>
			  <a href="/#/users/<%= current_user.id %>">
          <img src="<%= asset_path("profile-icon.png") %>">
        </a>
			<% else %>
			  <a href="<%= new_session_url %>">Log in</a>
			  <a href="<%= new_user_url %>">Sign up</a>
			<% end %>
		</section>
	</div>
</nav>