<!DOCTYPE html>
<html>
<head>
  <title>Truffle!</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<link rel="shortcut icon" href="<%= asset_path("favicon.png") %>"/>
</head>
<body>

<!-- current-user -->
<% if current_user %>

<script>
	window.currentUser = { id: <%= current_user.id %> };
</script>

<% end %>

<!-- Modal -->

  <div id="modal" class="modal">

    <article class="modal-content group">
      <span class="modal-close hide-modal">&times;</span>
    </article>

    <div class="modal-screen hide-modal"></div>

  </div>

<!-- Nav Bar -->

<%= render partial: "layouts/header" %>


<!-- // var  mn = $(".main-nav");
// var mns = "scrolled";
// var hdr = $('.head').height();
//
// $(window).scroll(function() {
//   if( $(this).scrollTop() > hdr + 100 ) {
//     mn.addClass(mns);
//   } else {
//     mn.removeClass(mns);
//   }
// }); -->


<!-- Content -->

<div class="yield wrapper">
	<%= yield %>
</div>

</body>

<footer>

	<div class="wrapper">
			<h1>Prepare to sniff out some amazing products, all available on Amazon.</h1>

			<div class="footer-links">
				<a href="<%= root_url %>" %>About</a>
				<% if signed_in? %>
				  <%= link_to "Sign Out", session_url, method: :delete %>
				<% end %>
			</div>
			<p>Truffle is a clone of Canopy created for educational and demoing purposes.</p>
			<p>Canopy aims to improve the Amazon window shopping experience. </p>
			<p>You should visit their website at: <a href="www.canopy.co" class="canopy-link">www.canopy.co</a></p>
			<p>Canopy is an independent company. Amazon is a trademarked brand.</p>
			<br>
			<p>Thanks for stopping by!</p>
	</div>

</footer>
</html>
