<!DOCTYPE html>
<html>
<head>
  <title>Truffle!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>truffle</h1>
Explore Shop Feed
<br>
<% if signed_in? %>
  <a href="<%= user_url(current_user) %>">User Show</a> | Notifications:
<% else %>
  <a href="<%= new_session_url %>">Log in</a>
  <a href="<%= new_user_url %>">Sign up</a>
<% end %>

<%= yield %>

</body>

<footer>
  <br>
  [#link to about page]

<% if signed_in? %>
  <%= link_to "Sign Out", session_url, method: :delete %>
<% end %>

</footer>
</html>
